.circles-component {
    .circle-card {
        .box {
            box-shadow: 2px 2px 2px #aaaaaa;
            .box-body {
                transition: all 0.3s;
            }
            &:hover {
                transition: all 0.3s;
                transform: scale(1.2);
                box-shadow: none;
                z-index: 10;
            }
        }
        &:hover {
            .box-body{
                color: black;
                background-color: white;
            }
        }
    }
}
