.circles-component {
    .circles_filter_component {
      text-align: center;
      .searchbox {
        span,input{
          border:none;
          background: white;
          height: 4rem;
        }
        input {
          line-height: 4rem;
        }
      }
    }
    .circle-card {
        .box {
            transition: all 0.3s ease-in-out 0s;
            box-shadow: 2px 2px 2px #aaaaaa;
            .box-header{
              overflow: hidden;
              &:before{
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: #000;
                //visibility: hidden;
                transform: translateX(-105%);
                overflow: hidden;
                transition: all 0.3s ease-in-out 0s;
              }
            }
            .box-body {
              transition: all 0.3s ease-in-out 0s;
            }
            &:hover {
                transform: scale(1.075);
                box-shadow: none;
                z-index: 10;
              .box-header:before{
                  visibility: visible;
                  transform: translateX(0);
              }
            }
        }
        &:hover {
            .box-body{
                color: black;
                background-color: white;
            }
        }
    }
}
