.tooltip-list {
  .tooltip-item {
    position: fixed;
    z-index: 1000;
    text-align: center;
    .tooltip-header {
      text-transform: capitalize;
      font-size: 22px;
      font-family: serif;
      padding: 10px;
    }
    .tooltip-body {
      font-family: serif;
      font-size: 18px;
      padding: 10px;
    }
  }
}
