.view-circle-component {
  .circle-member-list-pane {
    .trust-score {
      font-family: 'Sumana';
      line-height:  30px;
      font-size: 30px;
      font-weight: bold;
      padding: 5px;
    }
  }
}
