.view-circle-component {
  .circle-header {
    .circle-participant-count {
      font-family: 'Sumana';
      width: 96px;
      height: 96px;
      float: left;
      margin-right: 1em;
      border-radius: 48px;
      line-height: 96px;
      text-align: center;
      font-size: 58px
    }
  }
  .circle-details-pane {
    table tr td:nth-child(2) {
      font-family: Sumana;
    }
    .payout-event-list {
      .list-body {
        margin-right: 115px;
      }
      .list-left {
        > div {
          line-height: 40px;
          font-size: 26px;
        }
      }
      .list-right {
        float: right;
      }
    }
  }
  .circle-member-list-pane {
    .trust-score {
      font-family: 'Sumana';
      line-height:  30px;
      font-size: 30px;
      font-weight: bold;
      padding: 5px;
    }
    .savings-goal {
      height: 25px;
      line-height: 25px;
      >input {
        border: none;
      }
      >div {
        display: inline-block;
        &.can-edit-savings-goal {
          border-bottom: 2px dashed #dedede;
          cursor: pointer;
        }
      }
    }
  }
}
